  <div class="card" style="width:330px">
    <img class="card-img-top" src={{summonerIcon}} alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{sumonnerName}}
        {{summonerTier}}
        {{summonerRank}}
        {{summonerLP}}LP</h4>
      <p class="card-text"
      >        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>

  <div class="jumbotron">
    <h1 class="display-4"><img src={{summonerIcon}} alt="summonerImg"> {{sumonnerName}}   </h1>
    <p class="lead">
        <br>
        {{summonerTier}}
        {{summonerRank}}
        {{summonerLP}}LP
        <br>
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>  
